<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>

  <!-- href의 /위에가 이것을 뜻함 -> localhost:4000/public/ -->
  <!-- <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/main.js"></script> -->
</head>

<body>
  <h1>Welcome to Cielo Express Service!</h1>
  <h2><a href="/users">회원 서비스</a></h2>
  <h2><a href="/dbBoard">게시판 서비스</a></h2>
  <script>
    // console.log(document.cookie);

    // document.cookie = "user=cielo; expires=17 Mar 2023 13:00:00 GMT; path=/";
    // document.cookie = "test=kdt; expires=17 Mar 2023 13:00:00 GMT; path=/";

    console.log(document.cookie); // httpOnly: true 로 통신 중에만 보이기 때문에 쿠키 값이 안 찍힘.
  </script>
</body>

</html>