<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>

  <!-- href의 /위에가 이것을 뜻함 -> localhost:4000/public/ -->
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/main.js"></script>
</head>

<body>
  <h1>메인 페이지 입니다!</h1>

  <!-- 뷰 파일에서 백엔드 데이터 사용하기 -->
  <p><%= msg %></p>

  <img src="/images/dog.jpg" alt="재롱이" width="1000px" />
</body>

</html>